<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Admiral IDM</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script>
function checkPass()
{
    var pass1 = document.getElementById('password');
    var pass2 = document.getElementById('confirm');
    var sub = document.getElementById('submit')

    var goodColor = "#66cc66";
    var badColor = "#ff6666";

    if(pass1.value == pass2.value){
        pass2.style.backgroundColor = goodColor;
        sub.disabled = false
    }else{
        pass2.style.backgroundColor = badColor;
        sub.disabled = true
    }
}
</script>
<style>
h1 {text-align: center}
img {
    display: block;
    margin: 0 auto;
}
.center { text-align: center}
.leftjust {
    display: inline-block;
    text-align: left
}
input {
    margin-bottom: .5em;
    width: 15em;
}

</style>
</head>
<body>
<h1>Create Admiral User</h1>
<div class="center">
    <form id="form1" class="leftjust" class="leftjust" method="POST" \
    action="/create" >
        <input type="email" name="username" placeholder="Email" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <input type="password" name="confirm" placeholder="Confirm Password" id="confirm" onkeyup="checkPass(); return false;" required></br>
        Cloud Admin: <input type="checkbox" name="isAdmin" value="true"><br>
        <br>
        <input type="submit" id="submit" name="submit" value="Submit" />
      </br>
        <a href="/">cancel</a>
    </form>
</div>
</body>
</html>
