<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
h1 {text-align: center}
img {
    display: block;
    margin: 0 auto;
    width:30%;
    height: auto;
    padding-top: 2em;
}
.center { text-align: center}
.leftjust {
    display: inline-block;
    text-align: left
}
input {
    margin-bottom: .5em;
    width: 15em;
}
p {
  font-style: italic;
}

</style>
</head>
<body>
<img src="assets/admiral_logo.png" alt="Admiral Logo">
<h1>Local User Manager</h1>
<div class="center">
    <p>Note: This is only for the creation and deletion of Admiral Local Users.</br>
      After creation, manage users through Admiral.</p>
    <a href="/user">List Users</a></br>
</div>
</body>
</html>
